/vendor/
/composer.lock
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml.cache
/.php_cs.cache
/.php-cs-fixer.cache
/var/

/.idea/
/.vscode/

.DS_Store

# ECS cache (if enabled)
/ecs-cache/

# Rector cache (if enabled)
/rector-cache/
